@tailwind base;
@tailwind components;
@tailwind utilities;

input:focus + .todo-btn {
  outline: 2px solid rgb(59 130 246 / var(--tw-ring-opacity, 1));
}
.todo-btn {
  transition: outline 0.05s linear;
}

.btn {
  width: 30px;
  height: 30px;
}

.ctrl svg {
  width: 100%;
  height: 100%;
}
